<div class="product-area-short">
  <div class="field">
    商品名：<%= link_to "#{product.name}", product_path(product.id), class: "" %>
  </div>
  <div class="field">
    販売者：<%= link_to "#{product.user.name}", user_path(product.user.id) %>
  </div>
  <% if product.image? %>
    <%= image_tag product.image.url %>
  <% else %>
    <%= image_tag "no_image.jpg", width:"200px", height:"200px", style:" border: 1px solid lightgray"%>
  <% end %>
</div>
