<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!-- エラーメッセージの数を表示 -->
      入力内容に<%= object.errors.count %>個のエラーがあります。
    </div>
    <ul>
      <!-- エラーメッセージを表示 -->
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>
