<div Class="static-pages-wrapper">
  <div class="swiper-container">
    <!-- 全スライドをまとめるラッパー -->
    <div class="swiper-wrapper">
      <!-- 各スライド -->
      <div class="swiper-slide">
        <div class="image-container-1">
          <p class="text-center">あなたの作ったあんなものやこんなものを売ったり</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-container-2">
          <p class="text-center">誰かが作ったあんなものやこんなものを買ったり</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-container-3">
          <p class="text-center">さあ今すぐ始めよう</p>
        </div>
      </div>
    </div>

    <!-- ページネーションを表示する場合 -->
    <div class="swiper-pagination"></div>

    <!--
    前後スライドへのナビゲーションボタン(矢印)を表示する場合
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    -->

    <!--
    スクロールバーを表示する場合
    <div class="swiper-scrollbar"></div>
    -->

  </div>
</div>
