<div class="container">
  <ul>
    <li><%= link_to '会社概要' %></li>
    <li><a href="mailto:terunrun@gmail.com" target="_blank">コンタクト</a></li>
    <li><a href="#top">一番上へ戻る</a></li>
  </ul>
  <p>&copy; SFF</p>
</div>
